body {
    --page-width: 1000px;
}

#post-cover {
    width: 100%;
    border-radius: 16px;
    border: 2px solid #fff1;
}

#post-title {
    margin-top: 4px;
    font-size: 35px;
}
#post-date {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 18px;
}

.goback {
    padding: 18px;
    background-color: #fff1;
    border: 2px solid #fff1;
    border-radius: 16px;
    margin-bottom: 10px;
}

.goback i {
    font-size: 20px;
    margin-right: 18px;
}
.blogpost-item {
    background-color: #382A47;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    border: 2px solid #503c66;
}
.blogpost-item img {
    width: 100%;
}

.blogpost-item div {
    padding: 16px;
}

