* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    --page-width: 1330px;
    --smooth: linear-gradient(93.25deg, #EB00FF 3.44%, #FD3DBD 15.51%, #FF6B6B 27.58%, #FFAA3E 39.65%, #FFC32B 51.72%, #FFAA3E 63.79%, #FF6D6D 75.86%, #FD3DBD 87.93%, #EB00FF 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

.page {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.loaded .page {
    opacity: 1;
}

@keyframes fadein {
    0% {
        filter: blur(50px);
        transform: scale(1.4);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/public/img/general/background.png");
    background-position: center;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation-name: fadein;
    animation-duration: 1s;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.navbar__inner {
    display: flex;
    align-items: center;
    padding: 0px 13px;
    background: linear-gradient(0deg, rgba(61, 16, 118, 0.5), rgba(61, 16, 118, 0.5)), rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
}

.navbar__right {
    padding: 17px 0px;
    margin-left: auto;
}

.navbar__trim {
    height: 4px;
    background: linear-gradient(90deg, #EB00FF 3.64%, #FFB800 51.82%, #EB00FF 100%);
}

.page {
    margin-top: var(--navbar-height);
}

.page-with-cover {
    margin-top: 0px;
}

.page-with-cover-small .cover {
    max-height: 500px;
}

@keyframes load-cover {
    0% {
        opacity: 0;
        filter: blur(20px);
        margin: -100px;
        width: calc(100vw + 200px);
        height: calc(100vh + 200px);
    }
    100% {
        opacity: 1;
    }
}

.cover {
    height: 100vh;
    width: 100vw;
    background-color: #0004;
    position: relative;
    overflow: hidden;
    padding: 100px;
}

.cover-background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loaded .cover-background {
    animation: 1.5s ease 0s 1 load-cover;
}

.cover-inner {
    z-index: 2;
    position: relative;
}

@media (max-width: 900px) {
    /* mobile stuffs */
    #desktop {
        display: none !important;
    }
    .desktop {
        display: none !important;
    }
}

@media (min-width: 901px) {
    #mobile {
        display: none !important;
    }
    .mobile {
        display: none !important;
    }
}

.button {
    padding: 11px 18px;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}

.page-content {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.page-inner {
    width: 100%;
    max-width: var(--page-width);
    margin: 0px 20px;
}

.preload,
.preload * {
    transition-delay: 9999s;
    opacity: 0 !important;
}

.noscroll {
    overflow: hidden;
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    padding-bottom: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #160c22aa;
    backdrop-filter: blur(20px);
    z-index: 822;
    transition: all 0.5s ease;
}

.layer__close-layer {
    z-indeX: 823;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.layer__content {
    z-index: 824;
    width: 100%;
    max-width: calc(var(--page-width) + 20px);
    background: linear-gradient(#3F006F, #602560, #68067A);
    border-radius: 30px;
    padding: 30px;
    margin: auto;
    height: auto;
    transition: all 0.75s ease;
}

.layer__header {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    margin-top: -6px;
    margin-bottom: 10px;
}

.layer__header h1 {
    background: var(--smooth);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.layer__header i {
    font-size: 24px;
    margin-left: auto;
}

p a {
    text-decoration: none;
    color: #f479ff;
}

.layer__content img {
    width: 100%;
    margin: 10px 0px;
    border-radius: 12px;
    border: 1px solid #fff4;
}

.layer-closed {
    opacity: 0;
    pointer-events: none;
}

.layer-closed .layer__content {
    transform: translateY(90px);
}

.layer-text-content p {
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 18px;
}

.layer-text-content h1 {
    margin-top: 8px;
}

.cover-small {
    height: 400px;
}