* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: white;
    overflow-x: visible;
    font-family: 'Red Hat Display', sans-serif;
    --page-width: 1330px;
    --smooth: linear-gradient(93.25deg, #EB00FF 3.44%, #FD3DBD 15.51%, #FF6B6B 27.58%, #FFAA3E 39.65%, #FFC32B 51.72%, #FFAA3E 63.79%, #FF6D6D 75.86%, #FD3DBD 87.93%, #EB00FF 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.hidden-full {
    display: none !important;
}

.page {
    opacity: 0.01;
    transition: opacity 0.2s ease;
}

.loaded .page {
    opacity: 1;
}

@keyframes fadein {
    0% {
        filter: blur(50px);
        transform: scale(1.4);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/public/img/general/background.png");
    background-position: center;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation-name: fadein;
    animation-duration: 1s;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 9;
}

.navbar__inner {
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(61, 16, 118, 0.5), rgba(61, 16, 118, 0.5)), rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
}

.navbar__right {
    padding: 17px 0px;
    margin-left: auto;
}

.navbar__left {
    padding: 8px;
    display: flex;
    align-items: center;
}

.navbar__left img {
    height: 40px;
}

.navbar__left p {
    font-size: 18px;
    font-weight: 900;
    margin-left: 8px;
}

.navbar__trim {
    height: 4px;
    background: linear-gradient(90deg, #EB00FF 3.64%, #FFB800 51.82%, #EB00FF 100%);
}

.navbar__right {
    padding: 8px;
    display: flex;
    align-items: center;
}

.navbar-button {
    padding: 10px 24px;
    margin-left: 10px;
    border-radius: 9px;
    background: #0002;
}

.navbar-button-active {
    font-weight: 900;
    color: #111;
    background: linear-gradient(-45deg, #EB00FF 3.36%, #FFB800 51.68%, #EB00FF 100%), rgba(0, 0, 0, 0.25);
}

.page {
    margin-top: var(--navbar-height);
}

.page-with-cover {
    margin-top: 0px;
}

.page-with-cover-small .cover {
    max-height: 500px;
}

@keyframes load-cover {
    0% {
        opacity: 0;
        filter: blur(20px);
        margin: -100px;
        width: calc(100vw + 200px);
        height: calc(100vh + 200px);
    }
    100% {
        opacity: 1;
    }
}

.cover {
    height: 100vh;
    width: 100vw;
    background-color: #0004;
    position: relative;
    overflow: hidden;
    padding: 100px;
}

.cover-background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover-background-2 {
    z-index: 1;
}

.loaded .cover-background {
    animation: 1.5s ease 0s 1 load-cover;
}

.cover-inner {
    z-index: 2;
    position: relative;
}

@media (max-width: 900px) {
    /* mobile stuffs */
    #desktop {
        display: none !important;
    }
    .desktop {
        display: none !important;
    }
}

@media (min-width: 901px) {
    #mobile {
        display: none !important;
    }
    .mobile {
        display: none !important;
    }
}

.button {
    padding: 11px 18px;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}

.page-content {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.page-inner {
    width: 100%;
    max-width: var(--page-width);
    margin: 0px 20px;
}

.preload,
.preload * {
    transition-delay: 9999s;
    opacity: 0 !important;
}

.noscroll {
    overflow: hidden;
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    padding-bottom: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #160c22aa;
    z-index: 822;
    transition: all 0.5s ease;
}

.layer__close-layer {
    z-indeX: 823;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.layer__content {
    z-index: 824;
    width: 100%;
    max-width: calc(var(--page-width)  - 200px);
    background: #57136Add;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    margin: auto;
    height: auto;
    transition: all 0.75s ease;
}

.layer__header {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    margin-top: -6px;
    margin-bottom: 10px;
    padding-top: 35px;
    padding: 20px 25px;
    padding-bottom: 0px;
}

.layer__header h1 {
    color: #f479ff;
}

.layer__header i {
    font-size: 24px;
    margin-left: auto;
}

p a {
    text-decoration: none;
    color: #f479ff;
}

.layer-text-content img {
    width: 100%;
    margin: 10px 0px;
    border-radius: 12px;
    border: 1px solid #fff4;
}
.layer-text-content h1 {
    font-weight: 200;
}
.layer-closed {
    opacity: 0;
    pointer-events: none;
}

.layer-closed .layer__content {
    transform: translateY(90px);
}

.layer-text-content {
    padding: 20px 25px;
    padding-top: 0px;
}

.layer-text-content p {
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 18px;
}

.layer-text-content h1 {
    margin-top: 8px;
}

.cover-small {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    background-size: cover;
    background-position: center;
    text-shadow: 0px 2px 6px #0004;
}

.cover-small h1 {
    font-size: 40px;
}

.cover-small p {
    font-size: 26px;
}

.switchpage .page {
    transition: opacity 0.9s ease;
    opacity: 0;
}

.hovercursor {
    cursor: pointer !important;
}

@media (max-width: 900px) {
    .navbar__inner {
        flex-direction: column;
    }
    .navbar-button {
        padding: 6px 20px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .navbar__right {
        margin: 0px;
    }
    .cover-small {
        padding: 30px;
        padding-top: calc(30px + var(--navbar-height));
    }
    * {
        backdrop-filter: none !important;
    }
}

.loadingoverlay {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    pointer-events: none;
}

.loadingoverlay-hidden {
    opacity: 0;
}

.loadingoverlay p {
    font-weight: 900;
    font-size: 25px;
    margin-top: -50px;
}

.loadingoverlay svg path {
    stroke-dasharray: 140;
    animation-delay: 0.13s !important;
    animation: dashoffset 1.5s cubic-bezier(.17, .39, .98, .52) infinite;
    text-shadow: 0px 4px 78px #A3B7FF, 0px 4px 78px #A3B7FF, 0px 4px 62px #7B5AFF, 0px 4px 62px #7B5AFF, 0px 4px 35px #6B79FA, 0px 4px 35px #6B79FA, 0px 4px 17px #4A5CFF, 0px 4px 17px #4A5CFF;
}

svg path.loader-thin {
    animation: dashoffset 1.5s cubic-bezier(.23, .39, .88, .52) infinite !important;
    animation-delay: 0.1s !important;
}

@keyframes dashoffset {
    to {
        stroke-dashoffset: 280;
    }
}

.donate-button {
    width: 100%;
    background: linear-gradient(90deg, #EB00FF 3.64%, #FFB800 51.82%, #EB00FF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #222;
    padding: 14px;
    font-size: 18px;
    margin-top: 14px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#donate-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.work-intro {
    margin-bottom: 50px;
    font-size: 20px;
}
.work-intro p {
    margin-bottom: 12px;
}
.work-intro p:last-child {
    margin-bottom: 0px;
}

.work-banner-trim {
    width: 100%;
    height: 4px;
    background: var(--smooth);
}
.work-banner h3 {
    font-size: 26px;
    font-weight: 900;
}
.work-banner p {
    font-size: 18px;
}
.work-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #222;
    background: linear-gradient(#fffa, #fff6), var(--smooth);
}
.work-banner-inner {
    display: flex;
    align-items: center;
    padding: 15px;
}

.work-banner-glow {
    position: absolute;
    z-index: -1;
filter: blur(40px);
width: 100%;
height: 100%;
    background: linear-gradient(#fffa, #fff6), var(--smooth);
}
.work-banner .left {
    margin-left: auto;
}
.work-banner .button {

    background-color: #222d;
    color: white;
}