
<div class="work-banner">
    <div class="work-banner-trim">
    </div>
    <div class="work-banner-glow">
    </div>
    <div class="work-banner-inner">
    <div class="texts">
        <h3>I'm looking for a job!</h3>
        <p>I'm a skilled web developer and UI designer, if you're interested in hiring me please take a look at my work
            below, and check out my Linkedin to the right!</p>
    </div>
    <div class="left">
    <a class="button" href="/public/cv.pdf">CV/Resume</a>
    <a class="button" href="https://www.linkedin.com/in/archie-">Linkedin</a>
    </div>
</div>
</div>