* {
    box-sizing: border-box;
}

.admin__page {
    padding: 15px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
    justify-items: center;
    color: inherit;
    text-decoration: none;
}

.admin__page-active {
    background: rgba(255, 255, 255, 0.8);
    color: #391650;
    font-weight: 800;
}

.admin__panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 60px 52px;
    display: flex;
}

.admin__panel-navigation {
    background: rgba(39, 23, 61, 0.7);
    border-radius: 8px;
    width: 300px;
}

.admin__panel-navigation-header {
    padding: 20px 30px;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000e;
    background: linear-gradient(94.83deg, #EB00FF 0%, #FFB800 50%, #EB00FF 100%);
    border-radius: 8px 8px 0px 0px;
    flex-direction: column;
}

.admin__panel-navigation-header small {
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
}

.admin__panel-navigation-header small strong {
    font-weight: 900;
}

.admin__panel-content {
    background: rgba(61, 16, 118, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    margin-left: 16px;
    flex: 1;
    overflow-y: scroll;
}

.admin__panel-navigation-inner {
    padding: 20px;
}

.page__controlbar {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    background: rgba(39, 23, 61, 0.7);
    border-radius: 8px 0px;
}

.page__controlbar .title {
    background: linear-gradient(94.83deg, #EB00FF 0%, #FFB800 50%, #EB00FF 100%), rgba(0, 0, 0, 0.7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 600;
    font-size: 20px;
    padding-left: 8px;
}

.page__controlbar-right {
    margin-left: auto;
}

.page__content {
    padding: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    background-color: #251736aa;
}

.modal-inner {
    width: 90vw;
    max-width: 800px;

    background: rgba(61, 16, 118, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
}

.modal-content {
    padding: 20px;
}

.modal-toolbar {
    padding: 20px;
    background-color: rgba(39, 23, 61, 0.7);
    border-radius: 0px 0px 8px 8px;
}

.upload-modal .modal-right {
    flex: 1;
}
.upload-modal .modal-content {
    display: flex;
    align-items: center;
}
.upload-modal .modal-left {
    width: 400px;
    min-height: 120px;
    background-color: #0004;
    border-radius: 8px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 8px;
    box-sizing: border-box;
}
.upload-modal .modal-left img {
    width: 100%;
}

.upload-modal .modal-right input {
    width: 100%;
}

.modal-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-toolbar {
    display: flex;
    gap: 8px;
}