.project-panel {
    background: linear-gradient(#261D3055, #261D3033), var(--background);
    border-radius: 16px;
    --padding-x: 28px;
    --padding-y: 32px;
    padding: var(--padding-y) var(--padding-x);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: flex-start;
}

.project-panel__big {
    --padding-x: 46px;
    --padding-y: 36px;
    max-height: 449px;
    height: 449px;
}

.project-panel__medium,
.project-panel__medium-centered {
    max-height: 310px;
    height: 310px;
}

.project-panel__medium-centered {
    align-items: center;
    justify-content: center;
}

.project-panel__small {
    max-height: 228px;
    height: 228px;
}

.project-panel img {
    height: 40px;
    width: auto;
}

.project-panel__medium-centered img {
    height: 74px;
}

.project-panel__medium img {
    height: 74px;
    width: auto;
    margin-top: auto;
}

.project-panel__medium h3,
.project-panel__medium-centered h3,
.project-panel__big h3 {
    margin-top: auto;
}

.project-panel__big img {
    width: 270px;
    height: auto;
    margin-top: auto;
}

.project-panel__small p {
    margin-top: auto !important;
}

.project-panel p {
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 8px;
}

.project-panel__badge {
    background: #eeee;
    box-shadow: inset 0 0 2px #0004;
    border-radius: 20px;
    padding: 6px 20px;
    font-weight: 900;
    font-size: 17px;
    text-align: center;
    color: #333;
}

.project-panel__small .project-panel__badge,
.project-panel__medium .project-panel__badge,
.project-panel__big .project-panel__badge {
    position: absolute;
    top: var(--padding-y);
    right: var(--padding-x);
}

.project-panel__medium-centered .project-panel__badge {
    margin-bottom: 10px;
}