.upload-modal .modal-content {
    align-items: center;
    justify-items: center;
}



.upload-modal .modal-left {
	width: 100%;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    width: 798px;
    margin-right: 50px;
}

.modal-inner {
	width: 90vw;
	max-width: 1400px;
	background: rgba(61, 16, 118, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 8px;
}

.page__content {
    display: flex;
}

.col {
    flex: 1;
}

.col:last-child {
    margin-left: 15px;
}

.project-panel__edit {
    padding: 10px;
    border-radius: 30px;
    background-color: #fff1;
    margin-bottom: 10px;
}
.project-panel__controlbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}